
@{
    ViewData["Title"] = "Login";
    @model WebApplication2.Models.LoginModel
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" asp-antiforgery="true" method="post">
                <div class="validation" asp-validation-summary="All" />
                <span class="login100-form-title p-b-51">
                    Авторизация
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    <input class="input100" type="text" asp-for="Login" name="Login" placeholder="Username">
                </div>
                <span style="color:red; justify-content: center; display: flex;" asp-validation-for="Login"></span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" asp-for="Password" name="Password" placeholder="Password">
                </div>
                <span style="color:red;  justify-content: center; display: flex;" asp-validation-for="Password"></span>

                <div class="container-login100-form-btn m-t-17">
                    <a class="login100-form-btn" style="text-decoration:none;">
                        <button type="submit">Войти</button>
                    </a>
                </div>

            </form>
            <div class="container-login100-form-btn m-t-17">
                <a class="login100-form-btn" style="text-decoration:none;"  href="/Logining/RegistrationUser">
                    Зарегестрироваться
                </a>
            </div>
        </div>
    </div>
</div>

